{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
    <strong><i class="fa fa-th-large"></i><span> Category</span></strong>
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <h1>Edit {{ category.title }}</h1>

        <form action="{{ path('category_edit', {'categoryId': category.id}) }}" {{ form_enctype(form) }} method="POST">

            <div class="col-xs-12">
                {{ form_row(form.title, {'attr': {'placeholder': 'Example: Drupal' }}) }}
            </div>

            <div class="col-xs-12">
                {{ form_row(form.fontAwesomeClass, {'attr': {'placeholder': 'Example: fa-drupal' }}) }}
            </div>

            <div class="col-xs-12 text-right">
                <input type="submit" class="btn btn-primary" value="Update">
                <a href="#" class="btn btn-default">Cancel</a>
                <a href="{{ path('category_delete', {'categoryId': category.id}) }}" class="btn btn-danger">Delete</a>
            </div>

            {{ form_row(form._token) }}

        </form>
    </div>
{% endblock %}
