{% extends '::base.html.twig' %}

{% block title %}
    <strong><i class="fa fa-th-large"></i><span> Category</span></strong>
{% endblock %}

{% block content %}
    <div class="col-xs-12">

        <div class="row text-center-xs">
            <div class="col-sm-8">
                <h1>Snippets</h1>
            </div>
            <div class="col-sm-4 margin-top-20 text-right-not-xs">
                <a href="{{ path('category_edit', {'categoryId': category.id}) }}" class="btn btn-default">Edit category</a>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for snippet in snippets %}
                <tr>
                    <td>{{ snippet.id }}</td>
                    <td><a href="{{ path('snippet_detail', {'snippetId': snippet.id}) }}">{{ snippet.title }}</a></td>
                    <td>
                        <a href="{{ path('snippet_edit', {'snippetId': snippet.id}) }}" class="btn btn-default"><i
                                    class="fa fa-pencil"></i></a>
                        <a href="{{ path('snippet_delete', {'snippetId': snippet.id}) }}" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No snippets found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
