{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
    <strong><i class="fa fa-tags"></i><span> Tag</span></strong>
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <h1>Edit Tag</h1>

        <form action="{{ path('tag_edit', {'tagId': tag.id}) }}" {{ form_enctype(form) }} method="POST">

            <div class="col-xs-12">
                {{ form_row(form.title, {'attr': {'placeholder': 'Example: PHP' }}) }}
            </div>

            <div class="col-xs-12 text-right">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="{{ path('tag_index') }}" class="btn btn-default">Cancel</a>
                <a href="{{ path('tag_delete', {'tagId': tag.id}) }}" class="btn btn-danger">Delete</a>
            </div>

            {{ form_row(form._token) }}

        </form>
    </div>
{% endblock %}
