{% extends '::base.html.twig' %}

{% block title %}
    <strong><i class="fa fa-tags"></i><span> Tags</span></strong>
{% endblock %}

{% block content %}
    <div class="col-xs-12">

        <div class="row text-center-xs">
            <div class="col-sm-8">
                <h1>Languages</h1>
            </div>
            <div class="col-sm-4 margin-top-20 text-right-not-xs">
                <a href="{{ path('tag_create') }}" class="btn btn-default">Create tag</a>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.title }}</td>
                    <td>
                        <a href="{{ path('tag_edit', {'tagId': tag.id}) }}" class="btn btn-default"><i
                                    class="fa fa-pencil"></i></a>
                        <a href="{{ path('tag_delete', {'tagId': tag.id}) }}" class="btn btn-default"><i
                                    class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No tags found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
