// Core variables and mixins. Load Bootstrap variables first, override with own variables
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "variables";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
//@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/print";
//@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../../../../../../app/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";


// Custom SCSS
$loop: 10;
@while $loop < 110 {
  .padding-top-#{$loop} {
    padding-top: 1px * $loop;
  }
  .margin-top-#{$loop} {
    margin-top: 1px * $loop;
  }
  .padding-bottom-#{$loop} {
    padding-bottom: 1px * $loop;
  }
  .margin-bottom-#{$loop} {
    margin-bottom: 1px * $loop;
  }
  $loop: $loop + 10;
}
