{% extends '::base.html.twig' %}

{% block title %}
    <strong><i class="fa fa-code"></i><span> Snippet {{ snippet.title }}</span></strong>
{% endblock %}

{% block content %}

    <div class="col-xs-12 text-center-xs">
        <div class="col-sm-8">
            <h1>{{ snippet.title }}</h1>
        </div>
        <div class="col-sm-4 margin-top-20 text-right-not-xs">
            <a href="{{ path('snippet_edit', {'snippetId': snippet.id}) }}" class="btn btn-default"><i
                        class="fa fa-pencil"></i> Edit</a>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-12">
            <pre>
                {# Do not use indendation for the codeSnippet line. This will be rendered into to syntax highlighting #}
                <code class="{{ snippet.language.name | lower }}">
{{ snippet.codeSnippet }}
                </code>
            </pre>
        </div>
    </div>


{% endblock %}
