{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
    <strong><i class="fa fa-code"></i><span> Snippet</span></strong>
{% endblock %}

{% block content %}
    <div class="col-md-6">

        <h1>Edit {{ snippet.title }}</h1>

        <form action="{{ path('snippet_edit', {'snippetId': snippet.id}) }}" {{ form_enctype(form) }} method="POST">

            <div class="col-xs-12">
                {{ form_row(form.title) }}
            </div>

            <div class="col-xs-12">
                {{ form_row(form.codeSnippet, {'attr': {'rows': 20}}) }}
            </div>

            <div class="col-xs-12">
                {{ form_row(form.category) }}
            </div>

            <div class="col-xs-12">
                {{ form_row(form.tags, {'required': false}) }}
            </div>

            <div class="col-xs-12">
                {{ form_row(form.language) }}
            </div>

            <div class="col-xs-12 text-right">
                <input type="submit" class="btn btn-primary" value="Update">
                <a href="{{ path('category_index', {'categoryId': snippet.category.id}) }}" class="btn btn-default">Cancel</a>
                <a href="{{ path('snippet_delete', {'snippetId': snippet.id}) }}" class="btn btn-danger">Delete</a>
            </div>

            {{ form_row(form._token) }}

        </form>
    </div>
{% endblock %}
