{% extends '::base.html.twig' %}

{% block title %}
    <strong><i class="fa fa-language"></i><span> Languages</span></strong>
{% endblock %}

{% block content %}
    <div class="col-xs-12">

        <div class="row text-center-xs">
            <div class="col-sm-8">
                <h1>Languages</h1>
            </div>
            <div class="col-sm-4 margin-top-20 text-right-not-xs">
                <a href="{{ path('language_create') }}" class="btn btn-default">Create language</a>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for lang in languages %}
                <tr>
                    <td>{{ lang.id }}</td>
                    <td>{{ lang.name }}</td>
                    <td>
                        <a href="{{ path('language_edit', {'langId': lang.id}) }}" class="btn btn-default"><i
                                    class="fa fa-pencil"></i></a>
                        <a href="{{ path('language_delete', {'langId': lang.id}) }}" class="btn btn-default"><i
                                    class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No languages found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
