{% extends 'bootstrap.html.twig' %}

{% block main %}
    {% include 'header.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 sidebar">
                {% include 'sidebar.html.twig' %}
            </div>


            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-12 title">
                        <div class="clearfix">
                            <div class="col-sm-8">
                                {% block title %}
                                    <strong><i class="fa fa-home"></i><span> Home</span></strong>
                                {% endblock %}
                            </div>
                            <div class="col-sm-4 text-right">
                                <a href="{{ path('snippet_create') }}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i>
                                    Create snippet</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <!-- center left-->
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
