<!-- Left column -->
<div class="nav">
    <div class="menu-responsive"><strong><i class="fa fa-bars"></i><span> Menu</span></strong></div>
    <hr>
</div>


{{ knp_menu_render('main', {'template': 'KnowledgeBaseCoreBundle::side_menu.html.twig'}) }}
